---

- name: check if node is installed
  command: node -v
  ignore_errors: True
  register: node_exists

- name: download node and npm
  when: node_exists|failed
  get_url: url={{ nodejs_install_url }} dest=/tmp/node.pkg mode=0440

- name: install node and npm
  when: node_exists|failed
  command: installer -pkg /tmp/node.pkg -target /
  sudo: yes

- name: install global npm packages
  npm: name={{ item }} global=true
  with_items: nodejs_npm_packages
  sudo: yes

- name: install popular versions of node
  command: n {{ item }}
  sudo: yes
  with_items: nodejs_versions
